name: Coverage

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: pyproject.toml

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --frozen --reinstall-package=ptfkit --no-build-isolation
        env:
          CYTHON_TRACING: '1'

      - name: Coverage
        run: uv run --no-sync pytest --cov=ptfkit --cov-report=xml --cov-report=term

      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          format: cobertura
          file: coverage.xml
